@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css);

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(135,137,173);

}

.App {
  width: 100vw;
  height: 100vh;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.search-box{
  display: flex;
  margin: 10px auto;
  border: none;
}

.search-term{
  padding: 10px;
  font-size: 1.3rem;
  border: 2px solid white;
}

.search-term:hover {
  border: 2px solid rgb(47,48,73);
}

.search-button{
  background-color: rgb(47,48,73);
  color: white;
  height: 50px;
  border: none;
}

.search-button:hover{
  background-color: rgb(62,84,118);
  cursor:pointer;

}


.card-parent{
  box-sizing: border-box;
  background-color: rgb(47,48,73);
  color: white;
  padding: 20px;
  font-size: 2.0rem;
  width: 50vw;
}

@media only screen and (max-width: 886px) {
  .card-parent {
    width: 90vw;
  }
}

.weather-info{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weather-info p{
  margin-left: 20px;
  font-size: 1rem;
  color: rgb(176, 175, 175);
}

@media only screen and (max-width: 886px) {
  .weather-info {
    flex-direction: column;
  }
}

.date{
  color: rgb(252, 197, 197);
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.weather-details{
  padding: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 886px) {
  .weather-details {
    flex-direction: column;
    font-size: 1.2rem;
  }
}





